{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>

<h1>
        <marquee>
            Nature is GOd
        </marquee>
    </h1>
   
    <img src="{% static 'images/one.avif' %}" >
    <img src="{% static 'images/three.jpeg' %}" >
    <img src="{% static 'images/three.jpeg' %}" >
    <img src="{% static 'images/four.jpeg' %}" >
    <img src="{% static 'images/five.jpeg' %}" >
    <img src="{% static 'images/six.jpeg' %}" >
    <img src="{% static 'images/seven.jpeg' %}" >
    <img src="{% static 'images/eight.jpeg' %}" >
    <img src="{% static 'images/nine.jpeg' %}" >
    <img src="{% static 'images/ten.jpeg' %}" >

    


    
</body>
</html